.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.383301;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.739746;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.346191;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.432129;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls1{letter-spacing:-0.288000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._d{margin-left:-14.877120px;}
._6{margin-left:-12.475520px;}
._5{margin-left:-10.363840px;}
._7{margin-left:-8.352000px;}
._1{margin-left:-6.767040px;}
._a{margin-left:-4.943680px;}
._8{margin-left:-3.024000px;}
._2{margin-left:-1.841280px;}
._0{width:1.122240px;}
._4{width:3.151680px;}
._b{width:4.298240px;}
._3{width:6.027520px;}
._9{width:99.312000px;}
._c{width:130.080000px;}
.fc0{color:rgb(0,0,0);}
.fc2{color:rgb(0,0,255);}
.fc4{color:rgb(255,0,0);}
.fc1{color:rgb(0,153,153);}
.fc3{color:rgb(0,51,153);}
.fs1{font-size:127.680000px;}
.fs4{font-size:127.776000px;}
.fs2{font-size:144.000000px;}
.fs5{font-size:144.096000px;}
.fs0{font-size:160.320000px;}
.fs3{font-size:175.776000px;}
.y0{bottom:0.000000px;}
.y1{bottom:1.127900px;}
.y4{bottom:206.640000px;}
.y3{bottom:245.040000px;}
.y2{bottom:283.440000px;}
.y30{bottom:335.110000px;}
.y26{bottom:364.130000px;}
.y2f{bottom:378.310000px;}
.y25{bottom:402.530000px;}
.y2e{bottom:421.510000px;}
.y24{bottom:440.930000px;}
.y2d{bottom:464.710000px;}
.y23{bottom:479.330000px;}
.y2c{bottom:507.940000px;}
.y22{bottom:517.730000px;}
.y2b{bottom:551.140000px;}
.y21{bottom:556.130000px;}
.y2a{bottom:594.340000px;}
.y20{bottom:594.530000px;}
.y1f{bottom:632.930000px;}
.y29{bottom:637.540000px;}
.y36{bottom:721.030000px;}
.y12{bottom:741.410000px;}
.y35{bottom:764.230000px;}
.y11{bottom:779.810000px;}
.y34{bottom:807.430000px;}
.y10{bottom:818.210000px;}
.y33{bottom:850.630000px;}
.yf{bottom:856.630000px;}
.y32{bottom:893.830000px;}
.ye{bottom:895.030000px;}
.yd{bottom:933.430000px;}
.y31{bottom:937.060000px;}
.yc{bottom:971.830000px;}
.yb{bottom:1010.230000px;}
.ya{bottom:1048.630000px;}
.y9{bottom:1087.030000px;}
.y1e{bottom:1159.610000px;}
.y1d{bottom:1198.010000px;}
.y28{bottom:1225.030000px;}
.y1c{bottom:1236.410000px;}
.y27{bottom:1268.230000px;}
.y1b{bottom:1274.810000px;}
.y1a{bottom:1313.210000px;}
.y19{bottom:1351.630000px;}
.y18{bottom:1390.030000px;}
.y17{bottom:1428.430000px;}
.y38{bottom:1439.400000px;}
.y16{bottom:1466.830000px;}
.y15{bottom:1505.230000px;}
.y14{bottom:1543.630000px;}
.y37{bottom:1579.200000px;}
.y39{bottom:1612.340000px;}
.y8{bottom:2104.130000px;}
.y7{bottom:2147.330000px;}
.y6{bottom:2190.530000px;}
.y5{bottom:2233.730000px;}
.y13{bottom:2311.560000px;}
.h4{height:132.729844px;}
.h6{height:132.829641px;}
.h2{height:134.787187px;}
.h7{height:149.695312px;}
.h3{height:152.015625px;}
.h8{height:152.116969px;}
.h1{height:169.244062px;}
.h5{height:185.560406px;}
.h0{height:2880.000000px;}
.w0{width:2448.000000px;}
.x0{left:0.000000px;}
.x2{left:42.144000px;}
.x3{left:46.944000px;}
.x4{left:83.664000px;}
.x6{left:86.160000px;}
.xb{left:87.624000px;}
.x9{left:90.936000px;}
.x7{left:122.160000px;}
.xa{left:126.960000px;}
.x5{left:561.430000px;}
.x10{left:591.980000px;}
.xe{left:694.510000px;}
.xf{left:739.630000px;}
.x13{left:831.260000px;}
.x1{left:865.130000px;}
.x8{left:1254.050000px;}
.x12{left:1907.040000px;}
.x11{left:1995.360000px;}
.xd{left:2191.970000px;}
.xc{left:2194.130000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls1{letter-spacing:-0.384000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._d{margin-left:-19.836160pt;}
._6{margin-left:-16.634027pt;}
._5{margin-left:-13.818453pt;}
._7{margin-left:-11.136000pt;}
._1{margin-left:-9.022720pt;}
._a{margin-left:-6.591573pt;}
._8{margin-left:-4.032000pt;}
._2{margin-left:-2.455040pt;}
._0{width:1.496320pt;}
._4{width:4.202240pt;}
._b{width:5.730987pt;}
._3{width:8.036693pt;}
._9{width:132.416000pt;}
._c{width:173.440000pt;}
.fs1{font-size:170.240000pt;}
.fs4{font-size:170.368000pt;}
.fs2{font-size:192.000000pt;}
.fs5{font-size:192.128000pt;}
.fs0{font-size:213.760000pt;}
.fs3{font-size:234.368000pt;}
.y0{bottom:0.000000pt;}
.y1{bottom:1.503867pt;}
.y4{bottom:275.520000pt;}
.y3{bottom:326.720000pt;}
.y2{bottom:377.920000pt;}
.y30{bottom:446.813333pt;}
.y26{bottom:485.506667pt;}
.y2f{bottom:504.413333pt;}
.y25{bottom:536.706667pt;}
.y2e{bottom:562.013333pt;}
.y24{bottom:587.906667pt;}
.y2d{bottom:619.613333pt;}
.y23{bottom:639.106667pt;}
.y2c{bottom:677.253333pt;}
.y22{bottom:690.306667pt;}
.y2b{bottom:734.853333pt;}
.y21{bottom:741.506667pt;}
.y2a{bottom:792.453333pt;}
.y20{bottom:792.706667pt;}
.y1f{bottom:843.906667pt;}
.y29{bottom:850.053333pt;}
.y36{bottom:961.373333pt;}
.y12{bottom:988.546667pt;}
.y35{bottom:1018.973333pt;}
.y11{bottom:1039.746667pt;}
.y34{bottom:1076.573333pt;}
.y10{bottom:1090.946667pt;}
.y33{bottom:1134.173333pt;}
.yf{bottom:1142.173333pt;}
.y32{bottom:1191.773333pt;}
.ye{bottom:1193.373333pt;}
.yd{bottom:1244.573333pt;}
.y31{bottom:1249.413333pt;}
.yc{bottom:1295.773333pt;}
.yb{bottom:1346.973333pt;}
.ya{bottom:1398.173333pt;}
.y9{bottom:1449.373333pt;}
.y1e{bottom:1546.146667pt;}
.y1d{bottom:1597.346667pt;}
.y28{bottom:1633.373333pt;}
.y1c{bottom:1648.546667pt;}
.y27{bottom:1690.973333pt;}
.y1b{bottom:1699.746667pt;}
.y1a{bottom:1750.946667pt;}
.y19{bottom:1802.173333pt;}
.y18{bottom:1853.373333pt;}
.y17{bottom:1904.573333pt;}
.y38{bottom:1919.200000pt;}
.y16{bottom:1955.773333pt;}
.y15{bottom:2006.973333pt;}
.y14{bottom:2058.173333pt;}
.y37{bottom:2105.600000pt;}
.y39{bottom:2149.786667pt;}
.y8{bottom:2805.506667pt;}
.y7{bottom:2863.106667pt;}
.y6{bottom:2920.706667pt;}
.y5{bottom:2978.306667pt;}
.y13{bottom:3082.080000pt;}
.h4{height:176.973125pt;}
.h6{height:177.106187pt;}
.h2{height:179.716250pt;}
.h7{height:199.593750pt;}
.h3{height:202.687500pt;}
.h8{height:202.822625pt;}
.h1{height:225.658750pt;}
.h5{height:247.413875pt;}
.h0{height:3840.000000pt;}
.w0{width:3264.000000pt;}
.x0{left:0.000000pt;}
.x2{left:56.192000pt;}
.x3{left:62.592000pt;}
.x4{left:111.552000pt;}
.x6{left:114.880000pt;}
.xb{left:116.832000pt;}
.x9{left:121.248000pt;}
.x7{left:162.880000pt;}
.xa{left:169.280000pt;}
.x5{left:748.573333pt;}
.x10{left:789.306667pt;}
.xe{left:926.013333pt;}
.xf{left:986.173333pt;}
.x13{left:1108.346667pt;}
.x1{left:1153.506667pt;}
.x8{left:1672.066667pt;}
.x12{left:2542.720000pt;}
.x11{left:2660.480000pt;}
.xd{left:2922.626667pt;}
.xc{left:2925.506667pt;}
}
